# Core
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
joblib==1.4.2

# EDA
matplotlib==3.8.4
seaborn==0.13.2
nltk==3.8.1

# Models
xgboost==2.0.3

# DL (only for Colab; not needed for local demo)
#tensorflow==2.16.1

# App
streamlit==1.35.0

# Dev
pytest==8.2.0
flake8==7.0.0
